// Import scss config files
@import './config';

// Mixins
@mixin flexFunction {
    display: flex;
    align-items: center;
}

  .navbar{
    background-color: #252525;
    padding: 7px 20px;
    @include flexFunction();
    justify-content: space-between;

    .left-side{
        @include flexFunction();
        
        a{
            text-decoration: none;
            .logo{
                width: 100px;
                margin-left: 20px;
            }
        }

    }

    .middle{
        @include flexFunction();
        width: 800px;
        margin-left: 25px;
        // border: 1px solid red;

        input{
            background-color: #121212;
            color: #f5f5f5;
            width: 70%;
            height: 40px;
            border: 1px solid #303030;
            padding-left: 10px;

            &:focus{
               border-style: none;
               outline: none;
               border: 1px solid skyblue;
            }
        }
        
        ::placeholder {
            font-size: 16px;
            padding-left: 10px;
        }
        .search-icon{
            background-color: #303030;
            width:21px;
            margin-left: 2px;
            padding: 10px  15px;
        }
        a{
            text-decoration: none;
            .voice-speech{
                width: 20px;
                background-color: #121212;
                padding: 10px;
                border-radius: 50%;
                margin-left: 10px;
            }
        }
    }

    .right-side{
        @include flexFunction();

        a{
            text-decoration: none;
            margin-left: 25px;

            .profile{
                width: 40px;
                border-radius: 50%;
            }
        }
    }
}


// Calling mobile function in config file
@include MobileView(599px){
    .middle{

        input{
            display: none;
        }

        .search-icon{
            display: none;
        }

        .nav--mic{
            display: none;
        }
        
    }

    .right-side{

        a{
            //margin-left: 9px;
            font-size: 10px;
        }
    }

    
}