@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto";
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;

  .navbar-filter {
    width: 100%;

    .navbar {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;

      .left-side {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;

          .logo {
            width: 100px;
          }
        }
      }

      .middle {
        display: flex;
        align-items: center;

        input {
          background-color: #fff;
          width: 550px;
          height: 40px;
          border: 1px solid #e5e5e5;
          border-radius: 20px 0px 0px 20px;
        }

        ::placeholder {
          font-size: 16px;
          padding-left: 20px;
        }

        .search-icon {
          background-color: #F8F8F8;
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          width: 22px;
          padding: 9px 15px;
          border-radius: 0px 20px 20px 0px;
        }

        a {
          text-decoration: none;

          .voice-speech {
            width: 20px;
            background-color: #f8f8f8;
            padding: 10px;
            border-radius: 50%;
            margin-left: 10px;
          }
        }
      }

      .right-side {
        display: flex;
        align-items: center;
        padding-left: 20px;

        a {
          text-decoration: none;
          margin-left: 25px;

          .profile {
            width: 35px;
            border-radius: 50%;
          }
        }
      }
    }

    .filter {
      background-color: white;
      padding: 10px 20px;
      border-bottom: 1px solid #e5e5e5;
      display: flex;
      justify-content: space-between;

      button {
        padding: 8px 15px;
        border-radius: 20px;
        border: 1px solid #e5e5e5;
        color: #2d2d2d;
        font-weight: 400px;
      }
    }
  }

  .sidebar {
    background-color: white;
    padding: 15px 8px;
    // position: fixed;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      img {
        margin-bottom: 10px;
        width: 22px;
      }

      p {
        font-weight: 300px;
        font-size: 11px;
        color: black;
      }
    }
  }


  // display: flex;
  // padding: 20px;
  // background-color: #f9f9f9;

  .homepage {
    width: 100%;
    background-color: #f9f9f9;

    .navbar-filter {
      width: 100%;
      position: fixed;

      .navbar {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;

        .left-side {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;

            .logo {
              width: 100px;
            }
          }
        }

        .middle {
          display: flex;
          align-items: center;

          input {
            background-color: #fff;
            width: 550px;
            height: 40px;
            border: 1px solid #e5e5e5;
            border-radius: 20px 0px 0px 20px;
          }

          ::placeholder {
            font-size: 16px;
            padding-left: 20px;
          }

          .search-icon {
            background-color: #F8F8F8;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            width: 22px;
            padding: 9px 15px;
            border-radius: 0px 20px 20px 0px;
          }

          a {
            text-decoration: none;

            .voice-speech {
              width: 20px;
              background-color: #f8f8f8;
              padding: 10px;
              border-radius: 50%;
              margin-left: 10px;
            }
          }
        }

        .right-side {
          display: flex;
          align-items: center;
          margin-right: 110px;

          a {
            text-decoration: none;
            margin-left: 25px;

            .profile {
              width: 35px;
              border-radius: 50%;
            }
          }
        }
      }

      .filter {
        background-color: white;
        padding: 10px 5000px 10px 20px;
        padding-right: 40px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        // margin-right: 73px;
        width: 100%;

        button {
          padding: 8px 15px;
          border-radius: 20px;
          border: 1px solid #e5e5e5;
          color: #2d2d2d;
          font-weight: 400px;
        }
      }
    }

    .grid {
      padding: 0px 20px 20px 20px;
      display: grid;
      grid: auto / auto auto auto auto;

      .videos {


        .video {
          margin-top: 20px;

          .video-info {
            display: flex;
            margin-top: 10px;

            .poster-img {
              margin-right: 10px;

              img {
                width: 40px;
                border-radius: 50%;
              }
            }

            .info {
              h3 {
                margin-bottom: 10px;
                font-size: 16px;
                color: #030303;
              }

              p {
                font-weight: 300px;
                color: #606060;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }



}